.auth-form {
  margin-top: 40px;
}

.submit-btn {
  margin-top: 20px;
}

.category-list {
  list-style-type: none;
}
.category-list > li > a {
  color: #000;
  text-decoration: none;
}

.image-detail {
  padding-left: 40px;
}

.image-detail-b {
  max-width: 600px;
}

.image-heading {
  font-size: 1.4rem;
  font-weight: 500;
}

.back-gallery-link {
  margin-left: 10px;
}

.active {
  color: red;
  font-weight: 800;
  font-size: 1.4rem;
}
